a {
    cursor: hand;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}


em {
    color: #000000;
    font-weight: bold;
    font-style: normal;
}

.error {
    color: red;
}


.titlebar {
    background-color: rgb(241,241,241);
    padding: 5px;
    border: 1px solid rgb(229,229,229);
    color: white;
    font-weight: bold;
    vertical-align: middle;
}

.querydiv {
    overflow: hidden;
    padding-right: 20px;
}

.query {
    border: 1px solid gray;
    width: 100%;
    height: 30px;
    font-size: 20;
}

.query:hover {
    border: 1px solid black;
}

input:focus {
    border: 1px solid rgb(77,144,254);
}

.submitbutton {
    border: 1px solid gray;
    background-color: rgb(75,141,248);
    background-image: url(searchbutton.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 30px;
    float: right;
}

.submitbutton:hover {
    border: 1px solid black;
}

.searchResult {
    padding-left: 5px;
}

.afterSearchNavigationArea {
    float: left;
    width: 20%;
}

.dimension {
    float: clear;
}

.dimensionGoBackLink {
    color: rgb(17,34,204);
    text-decoration: none;
}

.dimensionTitle {
    font-weight: bold;
    padding-bottom: 5px;
}

.dimensionValues {
    padding-left: 10px;
    inset-botttom: 10px;
}

.dimensionValue {
}

.dimensionValueLink {
    color: rgb(17,34,204);
    text-decoration: none;
}

.searchResultArea {
    float: left;
    width: 80%;
}

.searchResultAreaFileName {
    color: rgb(17,34,204);
    text-decoration: none;
}

.searchResultAreaFileNameComplete {
    color: rgb(0, 153, 51);
}

.searchResultAreaContentHighlighted {
    color: rgb(68, 68, 68);
}

.searchResultAreaResultSimilar {
    color: rgb(0, 153, 51);
    padding-left: 20px;
}

.logoDiv {
    padding-top: 100px;
    text-align: center;
}

.logo {
    border: 0px;
}

